@{
    Layout = "~/Views/Shared/IeLayout.cshtml";
}

<!-- banner -->
<div class="zy_banner">
    <img src="../Content/images/web/zy_banner01.jpg">
    <div class="zy_title">
        <div>
            <h1>关于我们</h1>
            <span>about us</span>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- 主体 -->
<div class="zy_content" id="partPage">
    <div class="wid_main">
        <div class="zy_navbox">
            <div class="weizhi">
                <div>
                    <p>
                        <img src="../Content/images/web/PIN2.png">当前位置：<a href="index">首页</a> ><span>关于我们</span>
                    </p>
                </div>
                <i></i>
            </div>
            <ul>
                <li id="index1">
                    <h2 onclick="TabSwitch('1')"><a>研究院简介</a><i></i></h2>
                </li>
                <li id="index2">
                    <h2 onclick="TabSwitch('2')"><a>组织机构</a><i></i></h2>
                </li>
                <li id="index3">
                    <h2 onclick="TabSwitch('3')"><a>发展历程</a><i></i></h2>
                </li>
                <li id="index4">
                    <h2 onclick="TabSwitch('4')"><a>各部门简介</a><i></i></h2>
                </li>
                <li id="index5">
                    <h2 onclick="TabSwitch('5')"><a>联系我们</a><i></i></h2>
                </li>
            </ul>

        </div>
        <div class="zy_conbox zy_about">
            <div id="content1" class="content">
                <div id="box" class="leftpic">
                    <div class="prev"></div>
                    <div class="next"></div>
                    <ul class="bigUl"></ul>
                    <ul class="numberUl"></ul>
                </div>
                <div class="txt">
                    <p>
                        泉州华中科技大学智能制造研究院（以下简称泉州研究院），是泉州市人民政府与华中科技大学合作共建，于2014年11月20日成立的事业单位，是以集聚国内外高校、科研院所和创新团队的科技创新资源，面向泉州市经济发展和“数控一代”机械产品升级创新工程以及“泉州制造2025”的需求，打造具有强大技术创新、成果转化和产业化的支撑与服务平台，以实现“政、产、学、研、用、金”有机融合、“无缝”对接，提升泉州制造业的综合竞争力，促进泉州产业转型升级。
                    </p>
                    <p>
                        经过三年多的发展，研究院目前拥有一支118人的人才队伍，博士学位占20%, 硕士以上学位占45%，是省级院士工作站、省级工程技术研究中心，是福建省首批新型研发机构；近3000平米的研发场地和3000平米的产业基地已投入使用，具备了研发、制造、组装、调试、培训能力。截至目前，研究院在研项目30余项，其中4项为福建省重大科技专项，其余为市级项目；项目覆盖机械制造、石材瓷砖、食品饮料、纺织鞋服、水暖卫浴、工艺美术、大专院校等领域。研究院已完成的部分样机或生产线，目前已在嘉泰数控科技股份公司、泉州梅洋塑胶五金制品有限公司等20余家企业得到应用和试生产，应用企业实现经济效益超过2亿元。研究院积极致力于泉州当地的人才培养，与泉州信息工程学院、泉州轻工职业学院等十余所大中专院校开展了校企合作，共建“智能工业实训室”、“机器人公共实训基地”等人才培养实训平台，开展数控一代及智能制造技术培训，协助承办福建省职业院校技能大赛，累计培训学员650余人。截至目前，研究院申报并受理各种知识产权140项，其中发明专利35项、实用新型71项、软件著作权 34项；授权知识产权84项（其中发明5项、实用新型46项、软件著作权33项）。
                    </p>
                    <p>
                        研究院组织团队先后参与编写了“泉州制造2025”行动计划纲要、泉州“数控一代”应用示范工程实施方案、泉州市机械设备产业转型升级路线图、数控一代典型案例集(泉州篇)、参与了2016年度泉州市 “中国制造2025”试点示范城市的申报工作、参与编写了泉州市千亩百亿3C产品产业链的建设规划等工作。同时配合泉州市或福建省，组织并参与智能制造推进制造业转型升级各类宣讲活动，为泉州实施“数控一代”应用示范工程和创建泉州市 “中国制造2025”试点示范城市等工作做出了重要贡献。
                    </p>
                </div>
            </div>
            <div id="content2" class="content">
                <img class="img-center" src="../Content/images/organization.png">
            </div>
            <div id="content3" class="content">
                <div class="" id="marquee1">
                    <ul></ul>
                </div>
                <div class="main">
                    <h2>研究院发展历程</h2>
                    <ul class="time-axis"></ul>
                    <h2>泉州华数机器人有限公司</h2>
                    <ul class="time-axis2"></ul>
                </div>
            </div>
            <div id="content4" class="content" style="text-align:center;">
                <ul>
                    <li>
                        <img class="img-center" src="../Content/images/department1.jpg">
                        <h3>数控一代事业部部门介绍</h3>
                        <p>介绍内容...</p>
                    </li>
                    <li>
                        <img class="img-center" src="../Content/images/department2.jpg">
                        <h3>智慧工厂事业部部门介绍</h3>
                        <p>介绍内容...</p>
                    </li>
                    <li>
                        <img class="img-center" src="../Content/images/department3.jpg">
                        <h3>机器人事业部部门介绍</h3>
                        <p>介绍内容...</p>
                    </li>
                </ul>
            </div>
            <div id="content5" class="content">
                <img class="img-center" src="../Content/images/address.jpg" style="width:58%;">
                <img class="img-center" src="../Content/images/address1.jpg" style="width:58%;">
                <div class="txt">
                    <h2>泉州华中科技大学智能制造研究院</h2>
                    <p>
                        电话: 0595-28857088
                    </p>
                    <p>
                        传真：0595-28857688
                    </p>
                    <p>
                        邮箱: qzhkdyjy@163.com
                    </p>
                    <p>
                        销售热线：18627959176
                    </p>
                    <p>
                        地址: 福建省泉州市丰泽区北清东路518号数控一代创新中心10-13楼
                    </p>
                </div>
                <div class="txt">
                    <h2>泉州华中科技大学智能制造研究院产业化基地</h2>
                    <p>
                        电话（传真）：0595-22800090
                    </p>
                    <p>
                        地址：福建省泉州市洛江区双阳街道塘西工业区二期A-3
                    </p>
                </div>
                @*<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="姓名" prop="name">
                            <el-input v-model="ruleForm.name" style="width:200px;"></el-input>
                        </el-form-item>
                        <el-form-item label="联系方式">
                            <el-input v-model="ruleForm.contact" style="width:400px;"></el-input>
                        </el-form-item>
                        <el-form-item label="留言内容" prop="content">
                            <el-input type="textarea" v-model="ruleForm.content"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" v-on:click="submitForm('ruleForm')" :disabled="disabled">提交</el-button>
                            <el-button v-on:click="resetForm('ruleForm')">重置</el-button>
                        </el-form-item>
                    </el-form>*@
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var url = document.location.search
        var Id = url.substring(7)
        console.log(Id)
        for (var i = 1; i <= 5; i++) {
            $("#index" + i).removeClass("cur")
            $("#content" + i).hide()
        }
        $("#index" + Id).addClass("cur")
        $("#content" + Id).show()
    })
    getDataFnc()
    function TabSwitch(sum) {
        for (var i = 1; i <= 5; i++) {
            $("#index" + i).removeClass("cur")
            $("#content" + i).hide()
        }
        $("#index" + sum).addClass("cur")
        $("#content" + sum).show()
    }
    function getDataFnc() {
        //发送get请求
        var that = this
        $.ajax({
            type: "GET",
            url: "/PicManage/Read",
            data: { type: "发展历程", pageIndex: "1", pageSize: "10" },
            dataType: "json",
            success: function (data) {
                console.log(data);
                var Li = "";
                for (let d = 0; d < data.data.length; d++) {
                    Li = Li + '<li><a href=""><img src="' + data.data[d].Path.replace('~', '') + '" /></a></li>'
                }
                $("#marquee1 ul").append(Li)
                Pic()
            }
        })
    }
    getPic()
    function getPic() {
        //发送get请求
        var that = this
        $.ajax({
            type: "GET",
            url: "/PicManage/Read",
            data: { type: "研究院概况", pageIndex: "1", pageSize: "10" },
            dataType: "json",
            success: function (data) {
                console.log(data);
                var Li = "";
                var Lis = "";
                for (var d = 0; d < data.data.length; d++) {
                    Li = Li + '<li><a href=""><img src="' + data.data[d].Path.replace('~', '') + '" /></a></li>';
                    Lis = Lis + '<li><a href="">' + parseInt(d + 1) + '</a></li>';
                }
                $(".bigUl").append(Li);
                $(".numberUl").append(Lis);
                console.log("研究院概况");
            }
        })
    }
</script>

<script type="text/javascript">
    //这是要遍历时间轴的数据
    var dimeAxis = [{
        date: '2014年11月',
        title: '研究院第一届理事会第一次会议召开，研究院正式成立',
        achievement: ''
    },
    {
        date: '2015年03月',
        title: '研究院正式入驻泉州市丰泽区数控一代创新中心',
        achievement: ''
    },
    {
        date: '2015年08月',
        title: '研究院综试基地在洛江落成 ',
        achievement: ''
    },
    {
        date: '2016年06月',
        title: '全国政协副主席、国家科技部部长万刚视察研究院产业基地、引进中国工程院段正澄院士团队建立院士工作站',
        achievement: ''
    },
    {
        date: '2016年06月',
        title: '成立福建省院士工作站',
        achievement: ''
    },
    {
        date: '2017年06月',
        title: '获批福建省首批新型研发机构、与南安市政府合作设立“华中科大南安市高端装备研究所、与泉州市模具工业协会成为战略合作伙伴、成为石狮市智能产业技术创新战略联盟技术合作单位',
        achievement: ''
    },
    {
        date: '2017年08月',
        title: '成为福建省智能装备数字化工程研究中心',
        achievement: ''
    },
    {
        date: '2017年09月',
        title: '成为泉州市智能制造公共实训基地',
        achievement: ''
    },
    {
        date: '2015--2018',
        title: '与泉州师范学院、宁德师范学院、闽南理工学院、泉州信息工程学院、黎明职业大学、泉州理工职业学院、泉州轻工职业学院、福建省长汀职业中专学校等院校共建实训实地',
        achievement: ''
    },
    {
        date: '2018年05月',
        title: '成为福建省智能制造创新创业能力平台建设项目”实施单位',
        achievement: ''
    },
    {
        date: '2018年06月',
        title: '泉州市丰泽区国家双创示范基地、中共泉州市委人才工作领导小组认定成为首批泉州市院士示范工作站',
        achievement: ''
    },
    {
        date: '2018年07月',
        title: '获得中国科协企业工作办公室院士专家工作站认证资格',
        achievement: ''
    }, {
        date: '2018年11月',
        title: '福建省高新技术企业',
        achievement: ''
    }, {
        date: '2018年12月',
        title: '荣获泉州市五一先锋号',
        achievement: ''
    }, {
        date: '2019年01月',
        title: '荣获泉州市新型研发机构',
        achievement: ''
    }];

    var dimeAxis2 = [{
        date: '2016年01月',
        title: '泉州装备制造协会第一届理事会单位',
        achievement: ''
    },
    {
        date: '2019年03月',
        title: '福建省高新技术企业',
        achievement: ''
    }];

    $(function () {
        $.each(dimeAxis, function (i, e) {
            var html = '<li class="time-axis-item">' +
                '<div class="time-axis-date">' + e.date + '<span></span></div>' +
                '<div class="time-axis-title">' + e.title + '</div>' +
                '<p class="time-axis-achievement">' + e.achievement + '</p>' +
                '</li>';
            $('.time-axis').append(html);
        });
        $.each(dimeAxis2, function (i, e) {
            var html = '<li class="time-axis-item">' +
                '<div class="time-axis-date">' + e.date + '<span></span></div>' +
                '<div class="time-axis-title">' + e.title + '</div>' +
                '<p class="time-axis-achievement">' + e.achievement + '</p>' +
                '</li>';
            $('.time-axis2').append(html);
        });
    });
</script>
<script src="~/Scripts/jquery.kxbdMarquee.js"></script>
<script>
    function Pic() {
        $("#marquee1").kxbdMarquee({ direction: "left", isEqual: false });
    }
</script>
<script src="~/Scripts/jq22.js"></script>
<script>
    window.onload = function () {
        var oBox = document.getElementById('box');
        var oPrev = getByClass(oBox, 'prev')[0];
        var oNext = getByClass(oBox, 'next')[0];
        var oBigUl = getByClass(oBox, 'bigUl')[0];
        var aLiBig = oBigUl.getElementsByTagName('li');
        var oNumUl = getByClass(oBox, 'numberUl')[0];
        var aLiNumber = oNumUl.getElementsByTagName('li');
        var nowZindex = 1;
        var now = 0;
        function tab() {
            for (var i = 0; i < aLiNumber.length; i++) {
                aLiNumber[i].className = '';
            }
            aLiNumber[now].className = 'night';

            aLiBig[now].style.zIndex = nowZindex++;
            aLiBig[now].style.opacity = 0;
            startMove(aLiBig[now], 'opacity', 100);


        }

        for (var i = 0; i < aLiNumber.length; i++) {
            aLiNumber[i].index = i;
            aLiNumber[i].onclick = function () {

                if (this.index == now) return;
                now = this.index;

                tab();
            }
        }
        oNext.onmouseover = oPrev.onmouseover = oBigUl.onmouseover = function () {
            startMove(oPrev, 'opacity', 100);
            startMove(oNext, 'opacity', 100)
        }
        oNext.onmouseout = oPrev.onmouseout = oBigUl.onmouseout = function () {
            startMove(oPrev, 'opacity', 0);
            startMove(oNext, 'opacity', 0)
        }
        oPrev.onclick = function () {
            now--
            if (now == -1) {
                now = aLiNumber.length - 1;
            }
            tab();
        }

        oNext.onclick = function () {
            now++
            if (now == aLiNumber.length) {
                now = 0;
            }
            tab();
        }

        var timer = setInterval(oNext.onclick, 5000)
        oBox.onmouseover = function () {
            clearInterval(timer)
        }
        oBox.onmouseout = function () {
            timer = setInterval(oNext.onclick, 5000)//改变速度修改3000 ，例如3000=3秒钟
        }
    }

</script>

