@{
    ViewBag.Title = "关于我们";
}

<!-- banner -->
<div class="zy_banner">
    <img src="../Content/images/web/zy_banner01.jpg">
    <div class="zy_title">
        <div>
            <h1>关于我们</h1>
            <span>about us</span>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- 主体 -->
<div class="zy_content" id="partPage">
    <div class="wid_main">
        <div class="zy_navbox">
            <div class="weizhi">
                <div>
                    <p>
                        <img src="../Content/images/web/PIN2.png">当前位置：<a href="index">首页</a> ><span>关于我们</span>
                    </p>
                </div>
                <i></i>
            </div>
            <ul>
                <li :class="{cur:urlParam.index == 1}" id="index1">
                    <h2 v-on:click="changeIndex('1')"><a>研究院简介</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 2}" id="index2">
                    <h2 v-on:click="changeIndex('2')"><a>组织机构</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 3}" id="index3">
                    <h2 v-on:click="changeIndex('3')"><a>发展历程</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 4}" id="index4">
                    <h2 v-on:click="changeIndex('4')"><a>各部门简介</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 5}" id="index5">
                    <h2 v-on:click="changeIndex('5')"><a>联系我们</a><i></i></h2>
                </li>
            </ul>

        </div>
        <div class="zy_conbox zy_about">
            <div v-show="urlParam.index == 1" id="content1">
                <div id="box" class="leftpic">
                    <div class="prev"></div>
                    <div class="next"></div>
                    <ul class="bigUl">
                        <li v-for="d of Pic">
                            <a href="">
                                <img :src="d.Path.replace('~','')" />
                            </a>
                        </li>
                    </ul>
                    <ul class="numberUl">
                        <li v-for="(d, index) in Pic">
                            <a href="javascript:;">
                                {{ index }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="txt">
                    <p>
                        泉州华中科技大学智能制造研究院（以下简称研究院），是泉州市人民政府与华中科技大学合作共建，于2014年11月20日成立的事业单位，坐落在福建泉州，是面向泉州市经济发展和“数控一代”机械产品升级创新工程以及“泉州制造2025”的需求，开展智能装备技术研发、机器人的集成与应用、咨询服务及人才培养为一体的新型研发机构。目前近3000平米的研发场地和3000平米的产业基地已投入使用，具备了研发、制造、组装、调试、培训能力。
                    </p>
                    <p>
                        研究院着重三个平台建设，第一，技术创新与服务平台。以华中科技大学为依托，根据泉州当地产业发展需求，开展协同创新、技术研发、咨询服务。第二，人才培养平台。依托华中科技大学的师资和人才培养有事，聚集和培养一批高水平的技术研发、应用的专业技术人才。第三，产业孵化平台。以市场为导向，实现经济和社会效益双赢为目标，开展项目对接，企业孵化，实现成果转化的产业化。
                    </p>
                    <p>
                        泉州华中科技大学智能制造研究院目前拥有一支一百余人的人才队伍，博士学位占20%，硕士以上学位占45%。其中有中国工程院段正澄院士及其团队、以及来自华中科技大学机械学院、国家数控系统工程技术研究中心等一批高层次专家教授作为研究院强大的技术支持，使研究院具有较强的技术开发能力和协同攻关能力。
                    </p>
                </div>
            </div>
            <div v-show="urlParam.index == 2" id="content2">
                <img class="img-center" src="../Content/images/organization.png">
            </div>
            <div v-show="urlParam.index == 3" id="content3">
                <div class="" id="marquee1">
                    <ul>
                        <li v-for="d of PicList">
                            <a href="">
                                <img :src="d.Path.replace('~','')" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main">
                    <h2>研究院发展历程</h2>
                    <ul class="time-axis"></ul>
                    <h2>泉州华数机器人有限公司</h2>
                    <ul class="time-axis2"></ul>
                </div>
            </div>
            <div v-show="urlParam.index == 4" id="content4" style="text-align:center;">
                <ul>
                    <li>
                        <img class="img-center" src="../Content/images/department1.jpg">
                        <h3>数控一代事业部部门介绍</h3>
                        <p>介绍内容...</p>
                    </li>
                    <li>
                        <img class="img-center" src="../Content/images/department2.jpg">
                        <h3>智慧工厂事业部部门介绍</h3>
                        <p>介绍内容...</p>
                    </li>
                    <li>
                        <img class="img-center" src="../Content/images/department3.jpg">
                        <h3>机器人事业部部门介绍</h3>
                        <p>介绍内容...</p>
                    </li>
                </ul>
            </div>
            <div v-show="urlParam.index == 5" id="content5">
                <img class="img-center" src="../Content/images/address.jpg" style="width:58%;">
                <img class="img-center" src="../Content/images/address1.jpg" style="width:58%;">
                <div class="txt">
                    <h2>泉州华中科技大学智能制造研究院</h2>
                    <p>
                        电话: 0595-28857088
                    </p>
                    <p>
                        传真：0595-28857688
                    </p>
                    <p>
                        邮箱: qzhkdyjy@163.com
                    </p>
                    <p>
                        销售热线：18627959176
                    </p>
                    <p>
                        地址: 福建省泉州市丰泽区北清东路518号数控一代创新中心10-13楼
                    </p>
                </div>
                <div class="txt">
                    <h2>泉州华中科技大学智能制造研究院产业化基地</h2>
                    <p>
                        电话（传真）：0595-22800090
                    </p>
                    <p>
                        地址：福建省泉州市洛江区双阳街道塘西工业区二期A-3
                    </p>
                </div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="姓名" prop="name">
                        <el-input v-model="ruleForm.name" style="width:200px;"></el-input>
                    </el-form-item>
                    <el-form-item label="联系方式">
                        <el-input v-model="ruleForm.contact" style="width:400px;"></el-input>
                    </el-form-item>
                    <el-form-item label="留言内容" prop="content">
                        <el-input type="textarea" v-model="ruleForm.content"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" v-on:click="submitForm('ruleForm')" :disabled="disabled">提交</el-button>
                        <el-button v-on:click="resetForm('ruleForm')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</div>

<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                disabled: false,
                PicList: [],
                Pic: [],
                ruleForm: {
                    name: '',
                    contact: '',
                    content: ''
                },
                rules: {
                    name: [
                        { required: true, message: '请输入姓名', trigger: 'blur' }
                    ],
                    content: [
                        { required: true, message: '请输入留言', trigger: 'blur' },
                        { min: 3, max: 200, message: '长度在 3 到 200 个字符', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            submitForm(formName) {
                var that = this
                this.$refs[formName].validate((valid) => {
                    if (valid) {

                    } else {
                        that.elementAlert('提示信息!', '提交数据有误')
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            getDataFnc: function () {
                //发送get请求
                var that = this
                $.ajax({
                    type: "GET",
                    url: "/PicManage/Read",
                    data: { type: "发展历程", pageIndex: "1", pageSize: "10" },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        let PicList = []
                        for (let d = 0; d < data.data.length; d++) {
                            PicList.push(data.data[d])
                        }
                        that.PicList = PicList
                        console.log(PicList);
                    }
                })
            },
            getPic: function () {
                //发送get请求
                var that = this
                $.ajax({
                    type: "GET",
                    url: "/PicManage/Read",
                    data: { type: "研究院概况", pageIndex: "1", pageSize: "10" },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        var Pic = []
                        for (var d = 0; d < data.data.length; d++) {
                            Pic.push(data.data[d])
                        }
                        that.Pic = Pic
                        console.log("研究院概况");
                        console.log(Pic);
                    }
                })
            }
        },
        created: function () {
            this.indexLength = 5,
                this.getDataFnc()
            this.getPic()
        }
    })

    $.ajax({
        type: "GET",
        url: "/PicManage/Read",
        data: { type: "发展历程", pageIndex: "1", pageSize: "10" },
        dataType: "json",
        success: function (data) {
            Pic()
            $("#box .bigUl").find("li").eq(0).css("z-index", "1");
            $("#box .numberUl").find("li").eq(0).addClass("night");
        }
    });
</script>

<script type="text/javascript">
    //这是要遍历时间轴的数据
    var dimeAxis = [{
        date: '2014年11月',
        title: '研究院第一届理事会第一次会议召开，研究院正式成立',
        achievement: ''
    },
    {
        date: '2015年03月',
        title: '研究院正式入驻泉州市丰泽区数控一代创新中心',
        achievement: ''
    },
    {
        date: '2015年08月',
        title: '研究院综试基地在洛江落成 ',
        achievement: ''
    },
    {
        date: '2016年06月',
        title: '全国政协副主席、国家科技部部长万刚视察研究院产业基地、引进中国工程院段正澄院士团队建立院士工作站',
        achievement: ''
    },
    {
        date: '2016年06月',
        title: '成立福建省院士工作站',
        achievement: ''
    },
    {
        date: '2017年06月',
        title: '获批福建省首批新型研发机构、与南安市政府合作设立“华中科大南安市高端装备研究所、与泉州市模具工业协会成为战略合作伙伴、成为石狮市智能产业技术创新战略联盟技术合作单位',
        achievement: ''
    },
    {
        date: '2017年08月',
        title: '成为福建省智能装备数字化工程研究中心',
        achievement: ''
    },
    {
        date: '2017年09月',
        title: '成为泉州市智能制造公共实训基地',
        achievement: ''
    },
    {
        date: '2015--2018',
        title: '与泉州师范学院、宁德师范学院、闽南理工学院、泉州信息工程学院、黎明职业大学、泉州理工职业学院、泉州轻工职业学院、福建省长汀职业中专学校等院校共建实训实地',
        achievement: ''
    },
    {
        date: '2018年05月',
        title: '成为福建省智能制造创新创业能力平台建设项目”实施单位',
        achievement: ''
    },
    {
        date: '2018年06月',
        title: '泉州市丰泽区国家双创示范基地、中共泉州市委人才工作领导小组认定成为首批泉州市院士示范工作站',
        achievement: ''
    },
    {
        date: '2018年07月',
        title: '获得中国科协企业工作办公室院士专家工作站认证资格',
        achievement: ''
    }, {
        date: '2018年11月',
        title: '福建省高新技术企业',
        achievement: ''
    }, {
        date: '2018年12月',
        title: '荣获泉州市五一先锋号',
        achievement: ''
    }, {
        date: '2019年01月',
        title: '荣获泉州市新型研发机构',
        achievement: ''
    }];

    var dimeAxis2 = [{
        date: '2016年01月',
        title: '泉州装备制造协会第一届理事会单位',
        achievement: ''
    },
    {
        date: '2019年03月',
        title: '福建省高新技术企业',
        achievement: ''
    }];

    $(function () {
        $.each(dimeAxis, function (i, e) {
            var html = '<li class="time-axis-item">' +
                '<div class="time-axis-date">' + e.date + '<span></span></div>' +
                '<div class="time-axis-title">' + e.title + '</div>' +
                '<p class="time-axis-achievement">' + e.achievement + '</p>' +
                '</li>';
            $('.time-axis').append(html);
        });
        $.each(dimeAxis2, function (i, e) {
            var html = '<li class="time-axis-item">' +
                '<div class="time-axis-date">' + e.date + '<span></span></div>' +
                '<div class="time-axis-title">' + e.title + '</div>' +
                '<p class="time-axis-achievement">' + e.achievement + '</p>' +
                '</li>';
            $('.time-axis2').append(html);
        });
    });
</script>
<script src="~/Scripts/jquery.kxbdMarquee.js"></script>
<script>
    function Pic() {
        $("#marquee1").kxbdMarquee({ direction: "left", isEqual: false });
    }
</script>
<script src="~/Scripts/jq22.js"></script>
<script>
    window.onload = function () {
        var oBox = document.getElementById('box');
        var oPrev = getByClass(oBox, 'prev')[0];
        var oNext = getByClass(oBox, 'next')[0];
        var oBigUl = getByClass(oBox, 'bigUl')[0];
        var aLiBig = oBigUl.getElementsByTagName('li');
        var oNumUl = getByClass(oBox, 'numberUl')[0];
        var aLiNumber = oNumUl.getElementsByTagName('li');
        var nowZindex = 1;
        var now = 0;
        function tab() {
            for (var i = 0; i < aLiNumber.length; i++) {
                aLiNumber[i].className = '';
            }
            aLiNumber[now].className = 'night';

            aLiBig[now].style.zIndex = nowZindex++;
            aLiBig[now].style.opacity = 0;
            startMove(aLiBig[now], 'opacity', 100);


        }

        for (var i = 0; i < aLiNumber.length; i++) {
            aLiNumber[i].index = i;
            aLiNumber[i].onclick = function () {

                if (this.index == now) return;
                now = this.index;

                tab();
            }
        }
        oNext.onmouseover = oPrev.onmouseover = oBigUl.onmouseover = function () {
            startMove(oPrev, 'opacity', 100);
            startMove(oNext, 'opacity', 100)
        }
        oNext.onmouseout = oPrev.onmouseout = oBigUl.onmouseout = function () {
            startMove(oPrev, 'opacity', 0);
            startMove(oNext, 'opacity', 0)
        }
        oPrev.onclick = function () {
            now--
            if (now == -1) {
                now = aLiNumber.length - 1;
            }
            tab();
        }

        oNext.onclick = function () {
            now++
            if (now == aLiNumber.length) {
                now = 0;
            }
            tab();
        }

        var timer = setInterval(oNext.onclick, 5000)
        oBox.onmouseover = function () {
            clearInterval(timer)
        }
        oBox.onmouseout = function () {
            timer = setInterval(oNext.onclick, 5000)//改变速度修改3000 ，例如3000=3秒钟
        }
    }

</script>