@{
    ViewBag.Title = "应用案例";
}

<!-- 主体 -->
<div class="contentbox" id="partPage">
    <div class="zy_xqbox zy_xqcontent">
        <div class="left_con">
            <div class="zy_xqtitle">
                <h1>我院副院长王平江参与《名城群英会》节目专访录制</h1>
                <p><span>编辑日期：2018-08-20</span><span>作者：泉州华科院</span></p>
            </div>
            <div class="zy_xqtxt">
                <div class="zy_xxjs"><span>详细介绍</span></div>
                <div class="txtbox">
                    <div class="txt">
                        <p>
                            2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制。王院长对研究院各种产学研项目如密胺餐具、硫化鞋、delta机器人等进行了详细的推介，深受节目组好评。
                        </p>
                        <img src="../Content/images/pic02.jpg">
                        <p>
                            据悉，该栏目创办于2008年7月，由中共泉州市委组织部、泉州广播电视台、泉州高级人才协会共同打造的高端人才类访谈节目，通过“名人”谈“名城”，用大视野谈身边事，为泉州的人才培养工作营造良好的社会环境和舆论氛围。
                        </p>
                    </div>
                </div>
                @*<div class="share">
            <i></i>
            <h2>
                <p>上一篇：<a href="#">梅奥诊所发明新式培养法，可使T细胞识别多种癌细胞</a></p>
                <p>下一篇：<a href="#">互联网医院热潮</a></p>
            </h2>
        </div>*@
            </div>
        </div>
        <div class="right_con">
            <h2>相关资讯<i></i></h2>
            <div class="picMarquee-top">
                <div class="bd">
                    <ul class="picList">
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic03.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic02.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic01.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic03.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic02.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic01.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic03.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic02.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">
                                <img src="../Content/images/pic01.jpg" />
                                <dl>
                                    <dt>我院副院长王平江参与《名城群英会》节目专访录制</dt>
                                    <dd>2018年8月20日，受泉州广播电视台《名城群英会》邀请，我院副院长王平江参与节目专访录制...</dd>
                                    <span>2018-08-20</span>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {

            }
        },
        methods: {

        },
        created: function () {
        }
    })


</script>

<script type="text/javascript">
    jQuery(".picMarquee-top").slide({ mainCell: ".bd ul", autoPlay: true, effect: "topMarquee", vis: 8, interTime: 50 });
</script>