
@{
    ViewBag.Title = "产品详情内容";
}

<div class="DetailCon">
    <div class="time"></div>
    <div class="visitingtime"></div>
    <iframe src="" class="ListDetail"></iframe>
</div>
<script type="text/javascript">
    var NewsUrl = window.location.search;
    var NewsId = NewsUrl.substring(NewsUrl.indexOf("="), NewsUrl.indexOf('&'));
    NewsId = NewsId.substring(1);
    NewsUrl = NewsUrl.substring(NewsUrl.indexOf('&'));
    NewsUrl = NewsUrl.substring(1);
    NewsUrl = HZUrl + NewsUrl;
    $(".ListDetail").attr("src", NewsUrl);
    $.ajax({
        type: "GET",
        url: "/NewsAndCases/AddVisitingtime",
        data: { id: NewsId },
        cache: false,
        async: false,
        dataType: "json",
        success: function (data) {
            $(".time").html("发布时间：" + data.data.CreateTime);
            $(".visitingtime").html("访问量：" + data.data.visitingtime);
        }
    });
</script>

