@{
    ViewBag.Title = "关于我们";
}

<!-- banner -->
<div class="zy_banner">
    <img src="../Content/images/web/zy_banner01.jpg">
    <div class="zy_title">
        <div>
            <h1>通知公告</h1>
            <span> Notice and Announcement </span>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- 主体 -->
<div class="zy_content" id="partPage">
    <div class="wid_main">
        <div class="zy_navbox">
            <div class="weizhi">
                <div>
                    <p>
                        <img src="../Content/images/web/PIN2.png">当前位置：<a href="index">首页</a> ><span>通知公告</span>
                    </p>
                </div>
                <i></i>
            </div>
            <ul>
                <li :class="{cur:urlParam.index == 1}" id="index1">
                    <h2 v-on:click="changeIndex('1')"><a>人事任免</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 2}" id="index2">
                    <h2 v-on:click="changeIndex('2')"><a>资料下载</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 3}" id="index3">
                    <h2 v-on:click="changeIndex('3')"><a>人才招聘</a><i></i></h2>
                </li>
            </ul>

        </div>
        <div class="zy_conbox zy_about">
            <div v-show="urlParam.index == 1" id="content1">
                <p>人事任免</p>
            </div>
            <div v-show="urlParam.index == 2" id="content2">
                <p>资料下载</p>
            </div>
            <div v-show="urlParam.index == 3" id="content3">
                <el-table :data="tableData"
                          stripe
                          style="width: 100%">
                    <el-table-column v-for="p in tableProp" :prop="p.prop" :label="p.label">
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</div>


<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                tableProp: [
                    {
                        prop: 'name',
                        label: '职位名称'
                    },
                    {
                        prop: 'require',
                        label: '要求'
                    },
                    {
                        prop: 'address',
                        label: '工作地点'
                    },
                    {
                        prop: 'salary',
                        label: '薪资'
                    },
                    {
                        prop: 'date',
                        label: '发布日期'
                    }
                ],
                tableData: [
                     {
                        name: '销售经理（教学市场）',
                        require: '本科 | 招5人',
                        address: '泉州',
                        salary: '3-6千/月',
                        date: '2018-10-24'
                    },
                    {
                        name: '网页前端工程师',
                        require: '本科 | 招1人',
                        address: '泉州',
                        salary: '5.5-6千/月',
                        date: '2018-10-24'
                    },
                    {
                        name: '嵌入式系统工程师（数控一代事业部）',
                        require: '3-4年经验 | 本科 | 招1人',
                        address: '泉州',
                        salary: '7-9千/月',
                        date: '2018-10-24'
                    },
                    {
                        name: '机器人运动控制算法工程师',
                        require: '招1人',
                        address: '泉州',
                        salary: '4.5-6千/月',
                        date: '2018-10-24'
                    }
                ]
            }
        },
        methods: {

        },
        created: function () {
            this.indexLength = 3

        }
    })


</script>

