@{
    ViewBag.Title = "关于我们";
}
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 500px;
        margin-top:20px;
    }
</style>
<!-- banner -->
<div class="zy_banner">
    <img src="../Content/images/web/zy_banner01.jpg">
    <div class="zy_title">
        <div>
            <h1>通知公告</h1>
            <span> Notice and Announcement </span>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- 主体 -->
<div class="zy_content" id="partPage">
    <div class="wid_main">
        <div class="zy_navbox">
            <div class="weizhi">
                <div>
                    <p>
                        <img src="../Content/images/web/PIN2.png">当前位置：<a href="index">首页</a> ><span>通知公告</span>
                    </p>
                </div>
                <i></i>
            </div>
            <ul>
                <li :class="{cur:urlParam.index == 1}" id="index1">
                    <h2 v-on:click="changeIndex('1')"><a>人事任免</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 2}" id="index2">
                    <h2 v-on:click="changeIndex('2')"><a>资料下载</a><i></i></h2>
                </li>
                <li :class="{cur:urlParam.index == 3}" id="index3">
                    <h2 v-on:click="changeIndex('3')"><a>人才招聘</a><i></i></h2>
                </li>
            </ul>

        </div>
        <div class="zy_conbox zy_about">
            <div v-show="urlParam.index == 1" id="content1">
                <p>人事任免</p>
            </div>
            <div v-show="urlParam.index == 2" id="content2">
                <p>资料下载</p>
            </div>
            <div v-show="urlParam.index == 3" id="content3">
                <el-table :data="data"
                          stripe
                          style="width: 100%">
                    <el-table-column v-for="p in tableProp" :prop="p.prop" :label="p.label">
                    </el-table-column>
                </el-table>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>应聘请联系</span>
                    </div>
                    <div class="text item">联 系 人:唐小姐</div>
                    <div class="text item">联系电话:0595-28857088</div>
                    <div class="text item">电子邮件:kika0031@126.com</div>
                    <div class="text item">通讯地址:福建省泉州市丰泽区北清东路518号数控一代科技创新中心13楼</div>
                    <div class="text item"><a href="http://company.qzrc.com/99238.html">大泉州人才网链接</a></div>
                </el-card>
            </div>
        </div>
    </div>
</div>


<script>
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                tableProp: [
                    {
                        prop: 'JobName',
                        label: '职位名称'
                    },
                    {
                        prop: 'Require',
                        label: '要求'
                    },
                    {
                        prop: 'WorkPlace',
                        label: '工作地点'
                    },
                    {
                        prop: 'Pay',
                        label: '薪资'
                    },
                    {
                        prop: 'CreateTime',
                        label: '发布日期'
                    }
                ],
                data: [
                    
                ]
            }
        },
        methods: {
            getData() {
                var that = this
                this._getData("/Job/Read", function (result) {
                    that.data = result.data
                    that.totalRows = result.count
                })
            },
        },
        created: function () {
            this.indexLength = 3
            this.getData()
        }
    })


</script>

