<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>泉州华中科技大学智能制造研究院-@ViewBag.Title</title>
    <meta name="keywords" content="泉州华中科技大学智能制造研究院，泉州，华中科技大学，智能制造，研究院，华科院，泉州院士工作站，泉州华科院，华数机器人，硫化鞋，生产线" />
    <meta name="description" content="泉州华中科技大学智能制造研究，为泉州中小企业提供自动化解决方案，华数机器人合作伙伴，泉州多家院校合作伙伴" />
    <meta name="author" content="泉州华中科技大学智能制造研究院" />
    <meta name="copyright" content="泉州华中科技大学智能制造研究院" />

    <link rel="stylesheet" href="~/Content/element.css" />
    <link rel="stylesheet" href="~/Content/index.css" type="text/css">
    <link rel="stylesheet" href="~/Content/children.css" type="text/css">
    @*<script>
        if (!document.location.host.indexof("hustqz") >= 0)
                location.href = "http://www.hustqz.com"
    </script>*@
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/jquery.SuperSlide.2.1.1.js"></script>



    <script src="~/Scripts/public.js"></script>
    <script src="~/Scripts/sHover.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/element.js"></script>
    <script src="~/Scripts/config.js"></script>
    <script src="~/Scripts/lib.js"></script>

</head>
<body>
    <div id="app">
        <!--头部-->
        <div class="top_bg" id="top_bg">
            <div class="top_line">
                <p>
                    <span>您好，欢迎访问泉州华中科技大学智能制造研究院。</span>
                    @*<a><img src="~/Content/images/top_tel.png">咨询热线：010-88888888</a>*@
                </p>
            </div>
            <div class="top_main">
                <div class="top_logo">
                    <a href='./'><img src="~/Content/images/logo.png"></a>
                </div>
                <!-- 导航 -->
                <div class="dh_bg">
                    <ul>
                        <li :class="{cur:index==1}">
                            <a href="index">
                                <i class="img dh_01HOME"></i>
                                <span>网站首页</span>
                            </a>
                        </li>
                        <li :class="{cur:index==2}">
                            <a href="/Home/about">
                                <i class="img dh_02COMPASS"></i>
                                <span>关于我们</span>
                            </a>
                        </li>
                        <li :class="{cur:index==3}">
                            <a href="/Home/newslist">
                                <i class="img dh_05NOTEPAD"></i>
                                <span>新闻中心</span>
                            </a>
                        </li>
                        <li :class="{cur:index==4}">
                            <a href="/Home/teamPower">
                                <i class="img dh_07USER"></i>
                                <span>人才创新</span>
                            </a>
                        </li>
                        <li :class="{cur:index==5}">
                            <a href="/Home/caselist">
                                <i class="img dh_04GRID"></i>
                                <span>产品中心</span>
                            </a>
                        </li>
                        <li :class="{cur:index==6}">
                            <a href="/Home/partyCreate">
                                <i class="img dh_03TARGET"></i>
                                <span>党群建设</span>
                            </a>
                        </li>
                        <li :class="{cur:index==7}">
                            <a href="/Home/notify">
                                <i class="img dh_06PEN"></i>
                                <span>通知公告</span>
                            </a>
                        </li>
                    </ul>
                    <!-- 背景块 -->
                    <div class="dh_bg_cur">
                        <img src="~/Content/images/nav_cur.png">
                    </div>

                    <!-- 二级菜单 -->
                    <div class="two_nav_box">
                        <div class="two_nav">
                            <span></span>
                            <div>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/about?index=1">研究院简介</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/about?index=2">组织机构</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/about?index=3">发展历程</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/about?index=4">各部门简介</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/about?index=5">联系我们</a></dt>
                                </dl>
                                @*<dl>
                    <i></i>
                    <dt><a href="#">企业文化</a></dt>
                </dl>*@
                            </div>
                        </div>
                        <div class="two_nav">
                            <span></span>
                            <div>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/newslist?index=1">研究院新闻</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/newslist?index=2">视频短片</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/newslist?index=3">媒体聚焦</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/newslist?index=4">行业信息</a></dt>
                                </dl>
                            </div>
                        </div>
                        <div class="two_nav">
                            <span></span>
                            <div>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/teamPower?index=1">院士工作站</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/teamPower?index=2">科研团队</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/teamPower?index=3">知识产权</a></dt>
                                </dl>
                            </div>
                        </div>
                        <div class="two_nav">
                            <span></span>
                        </div>
                        <div class="two_nav">
                            <span></span>
                        </div>
                        <div class="two_nav">
                            <span></span>
                            <div>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/notify?index=1">人事任免</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/notify?index=2">资料下载</a></dt>
                                </dl>
                                <dl>
                                    <i></i>
                                    <dt><a href="/Home/notify?index=3">人才招聘</a></dt>
                                </dl>
                            </div>
                        </div>

                    </div>
                    <!-- 二级菜单end -->
                </div>
                <!-- 导航菜单 end -->
            </div>
        </div>

        <!--内容框-->
        <div class="contentbox">

            @RenderBody()

            <!-- footer -->
            <div class="footer content">
                <div class="wid_main">
                    <div class="footer_txt" style="text-align:center;">
                        <p><span>泉州华中科技大学智能制造研究院 版权所有 2015-2020 闽ICP备15008028号</span></p>
                        <p><span>福建省泉州市丰泽区北清东路518号数控一代创新中心10-13楼</span></p>
                        <p><span>0595-28857088-303</span></p>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="tempPage"></div>
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
     let outDemo =  new Vue({
        el: "#top_bg",
        mixins: [mixin],
        data: function () {
            return {
                pathname: document.location.pathname,
            }
        },
        methods: {


        },
        computed: {
            index: function () {
                var pathname = document.location.pathname
                if (pathname.indexOf('about') >= 0) return 2
                else if (pathname.indexOf('news') >= 0) return 3
                else if (pathname.indexOf('html') >= 0) return 3
                else if (pathname.indexOf('team') >= 0) return 4
                else if (pathname.indexOf('case') >= 0) return 5
                else if (pathname.indexOf('part') >= 0) return 6
                else if (pathname.indexOf('notify') >= 0) return 7
                else return 1
            }
        },
         created: function () {
             var url = location.href
             setInterval(function () {
                 if (url.indexOf('hustqz') < 0) {
                     location.href = 'http://www.hustqz.com'
                 }
             },300)
        }
    })
    console.log('hello?')

</script>

